.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Update_at_10_30_2022_5_37_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_9_18_2022_6_33_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_10_30_2022_5_37_PM_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_9_18_2022_6_33_PM_[Changes]/CClogo.PNG
.idea/shelf/Uncommitted_changes_before_Update_at_9_18_2022_6_33_PM_[Changes]/shelved.patch
