.nav .nav-link {
    padding-right: 5pt;
    font-size: small;
    font-weight: 500;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-decoration: underline;
    text-decoration-style:double;
    text-decoration-color: darkgray;
    padding-bottom: 40px;
    
}

.col-12{
        text-align: center;
        padding: 20px;
    }

.container .title {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}