.checked {
    color: orange;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}
.rating input{
     display: none;
}
.rating label{
    font-size: 30px;
    color: #808080;
    padding: 10px;
    transition: all 0.2s ease;
}

.rating  input:not(:checked) ~ label:hover,
.rating  input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
  
.rating input:checked ~ label{
    color: #fd4;
}
.rating input#star5:checked ~label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}